.wrapmain { display: block; position: relative; box-sizing: border-box; width: 100%; max-width: 1200px; height: auto; margin: 0 auto;}
.login-form { display: block; position: relative; box-sizing: border-box; width: 500px; height: auto; margin: 10px auto; border: 1px solid #cccc; padding: 5px;text-align: center; overflow: auto; border-radius: 10px; background-color: #e4e7ea;}
input[type="text"], input[name="txtPassWord"] { width: 80%; height: 32px; border-radius: 10px; margin: 4px auto; box-sizing: border-box;  padding: 2px 6px; border: 1px solid #cecece; font-size: .8em;}
input[name="btn-login"] { width: 120px; height: 32px;  margin: 10px auto; border-radius: 5px; border: 1px solid #1183d8; font-size: .7em; font-weight: 500; background-color: #1183d8; color:#fff;}
.title { color:#1D61FB; font-family: helvetica sans-serif; font-weight: 600;}
/*  Form chat */
.wrapper { width: 100%; max-width: 1200px; height: auto; box-sizing: border-box; overflow: auto; background-color: #fff; border: 1px solid #1183d9;}
.header-chat { width: 100%; height: 60px; box-sizing: border-box; border-bottom: 1px solid #1183d8; background-color: #f8f9fa;}
.content-chat { width: 100%; height: auto; box-sizing: border-box; }
.list-online, .header-name {  height: 60px; box-sizing: border-box; padding: 5px; float: left; font-weight: bold;}
.list-online { width: 25%; border-right: 1px solid #1183d8;}
.header-name { width: 75%; overflow: auto;}
.header-name span { display: flex; width: 100%;}
.title-name { text-align: center; width: 90%; box-sizing: border-box; line-height: 1;}
input[name="btn-logout"] { width: 10%; float: right;box-sizing: border-box; height: 30px; margin: auto 0; border-radius: 20px; border: 1px solid #cecece;}
.list-friend, .frame-chat { height: 300px; box-sizing: border-box; padding: 10px; overflow: auto; background-color: #fff; float: left;}
.list-friend { width: 25%; border-right: 1px solid #1183d8;}
.frame-chat { width: 75%; position: relative; }
.input-chat { position: absolute; left: 0px; bottom: 5px; width: 100%; height: auto; box-sizing: border-box; overflow: auto; padding:0 10px; display: flex;}
input[name="txtInputChat"] { width: 90%; box-sizing: border-box; float: left;}
input[name="btn-send"] { width: 10%; margin: auto 0 auto 10px; height: 30px; border-radius:20px; border: 1px solid #3670ec; background-color: #3670ec; color: #fff; font-weight: 400; font-size:14px;}
.box-alert {position: relative; height: auto; width: 100%; max-width: 600px; padding: 4px; box-sizing: border-box; margin: 10px auto;}
#notifi-content { display: block; font-family: helvetica sans-serif; font-weight: bold; text-align: center;}
.success { color: #2fc70c; border: 2px solid #3bf20f; border-radius: 10px; background-color: #eff6f0;}
.success p:after { content: 'Success!';}
.fail { color: #f01f1f; border: 2px solid #f01f1f; border-radius: 10px; background-color: #f9e2e2;}
.fail p:after { content: 'Fail!';}
